body{
    background-color: transparent;
    background: linear-gradient(
        to right,
        #dde007 0%,
        #00BCD4 20%,
        #5dc1e9 40%,
        #10a37f 60%,
        #98FB98 80%,
        #ffa500 100%
    );
    background-attachment: fixed;
    background-position: left bottom;
    background-size: 300%;
    transition: background-position 0.5s ease-in-out;
    animation: shine 10s linear infinite;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

@keyframes  shine {
    0%{
        background-position: left bottom;
    }
    100%{
        background-position: right bottom;
    }
}

#particles-js {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; 
}


.container{
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: fixed;
    width: 600px;
    height: 600px;
    background-color: rgba(245, 245, 245, 0.432);
    border-radius: 50%;
    border: 1px solid white;
    box-shadow: 0 0 55px rgb(56, 233, 233), 0 0 75px rgb(56, 233, 233), 0 0 95px rgb(56, 233, 233), 0 0 160px rgb(56, 233, 233);
    overflow: hidden;
}

.container:hover{
    box-shadow: 0 0 55px cyan, 0 0 75px cyan, 0 0 95px cyan, 0 0 160px cyan;
    border: 1px solid whitesmoke;
}

.button{
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 35px;
    color: black;
    font-size: 20px;
    font-weight: lighter;
}

.operation-button{
    cursor: pointer;
    width: 200px;
    height: auto;
    padding: 10px 20px;
    border: none;
    border-radius: 30px;
    background-color: transparent;
    background: linear-gradient(
            to right,
            #fd923f 0%,
            #00a19d 16.66%,
            #0c87b7 33.33%,
            #cb49ff 50%,
            #ff6666 66.66%,
            #f9d923 100%
        );
    background-position: left bottom;
    transition: background-position 0.5s ease-in-out;
    background-size: 300%; 
    animation: shine 5s linear infinite;
}

.operation-button:hover:hover{
    box-shadow: 0 0 15px #00a19d, 0 0 25px #00a19d,0 0 35px #00a19d, 0 0 60px #00a19d;
    text-decoration: underline;
}

.container u{
    color: black;
    text-decoration: wavy;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    top: 20%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: fixed;
    text-shadow: 0 0 15px #ffa500, 0 0 35px #ffa500, 0 0 45px #ffa500, 0 0 85px #ffa500;
}

h1{
    color: black;
    font-size: 32px;
    font-weight: bolder;
    text-align: center;
    top: 10%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: fixed;
}

.submit-book{
    display: none;
}
.submit-button{
    cursor: pointer;
    left: 50%;
    top: 85%;
    transform: translate(-50%,-50%);
    position: fixed;
    width: 200px;
    height: auto;
    padding: 10px 20px;
    background-color: cyan;
    border-radius: 30px;
    border: none;
    color: black;
    font-size: 20px;
    font-weight: lighter;
}
.submit-button:hover{
    background-color: #00a19d;
    box-shadow: 0 0 15px #00a19d, 0 0 25px #00a19d,0 0 35px #00a19d, 0 0 60px #00a19d;
    text-decoration: underline;
}

.book-list{
    display: none;
    transition: background-position 0.5s ease-in-out;
}

.search{
    display: none;
    transition: background-position 0.5s ease-in-out;
}

.exit{
    display: none;
    transition: background-position 0.5s ease-in-out;
}

.input-container {
    left: 75%;
    transform: translate(-50%,-50%);
    display: flex;
    flex-direction: column;
    margin-top: 190px;
    margin-bottom: -170px;
    position: relative;
}

.input-container i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -30px;
    color: black;
    font-size: 20px;
}

.input-container label {
    position: absolute;
    top: -20px;
    left: 5px;
    color: white;
    font-weight: bold;
}

input {
    width: 300px;
    height: auto;
    padding: 10px;
    border: 2px double cyan;
    border-radius: 5px;
    color: black;
    outline: none;
}

input:hover{
    box-shadow: 0 0 15px #00a19d, 0 0 25px #00a19d,0 0 35px #00a19d, 0 0 60px #00a19d;
    border: 2px double rgb(4, 219, 219);
}

input::placeholder {
    color: black;
}

.exit h1,
.exit h2 {
    text-align: center;
    font-size: 32px; 
    font-weight: bolder;
    left: 50%;
    position: fixed;
    transform: translate(-50%, -50%);
    background-clip: text;
    color: transparent;
    background: linear-gradient(
        to right,
        #f4f803 0%,
        #01daf7 20%,
        #085675 40%,
        #0a634d 60%,
        #45e445 80%,
        #ffa500 100%
    );
    -webkit-background-clip: text;
    background-position: left bottom;
    transition: background-position 0.5s ease-in-out;
    background-size: 300%;
    animation: shine 12s linear infinite;
}

.exit h1{
    top: 35%;
}

.exit h2 {
    font-size: 30px; 
    font-weight: bold;
    top: 55%; 
}

.list{
    top: 52%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: fixed;
    width: 380px;
    height: 350px;
    border: 4px double cyan;
    border: 10px;
    overflow-y: auto;
    background-color: rgba(255, 255, 255, 0.568);
}
