{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/output.css'%}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'fav/favicon-32x32.png'%}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'fav/favicon-16x16.png'%}">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <title>500</title>
</head>
<body class="bg-black bg-fixed absolute bg-cover">
     <div id="particles-js" class="fixed left-0 top-0 w-full h-full z-[-1]"></div>
     <div class="error left-1/2 top-[40%] fixed -translate-x-1/2 -translate-y-1/2 text-[48px] font-light underline text-green-950 text-shadow-django-404">Error 500 Unexpected Error </div>
</body>
<script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
<script src="{% static 'js/404.js'%}"></script>
</html>
